* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.iconSearcDiv {
    display: flex;
    width: 100%;
    background-color: black;

    .templatesIcon {
        color: snow;
        font-size: 15px;
        padding: 8px 16px;
    }

    .templatesIcon:hover {
        color: black;
        background-color: rgb(173, 173, 173);

    }

    .iconSearch {
        margin-left: auto;
    }
}

.container {
    max-width: 1540px;
    width: 100%;
    background-color: yellow;
    margin: 0 auto;

    // header //

    .top {
        width: 100%;
        padding: 48px 16px;

        .desqription {
            text-align: center;
            width: 100%;
            font-size: 40px;
            font-weight: 900;
        }

        .DesqriptionInCompani {
            text-align: center;
            width: 100%;
            font-size: 16px;
            margin: 10px 0 0 0;

            .smallText {
                font-size: 16px;
                background-color: black;
                color: snow;
                padding: 0 8px;
            }
        }
    }

    // header done // 


    .topFon {
        display: flex;
        width: 100%;
        height: 1000px;
        background-color: green;
        flex-direction: column;
        justify-content: center;
        background-image: url(https://www.w3schools.com/w3images/jane.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .companiName {
            font-size: 36px;
            color: snow;
            margin: 10px 0;
        }

        .fashionBlog {
            font-size: 64px;
            color: snow;
        }

        .subscribeBtn {
            font-size: 15px;
            width: max-content;
            color: black;
            background-color: rgba(255, 250, 250, 0.403);
            cursor: pointer;
            font-weight: 600;
            padding: 12px 24px;
            border: none;
        }

        .subscribeBtn:hover {
            background-color: rgba(255, 250, 250, 0.589);
        }

        .subscribeDivClose {
            display: none;
        }

        .subscribeDivOpen {
            width: 900px;
            background-color: #FFFFFF;
            padding: 32px;
            position: fixed;
            left: calc(50% - 450px);
            top: 100px;

            .subscribeTitle {
                font-size: 30px;
                margin: 10px 0;
            }

            .subscribeText {
                font-size: 19px;
                margin: 15px 0;
            }

            .subscribeEmail {
                width: 100%;
                margin-bottom: 15px;
                padding: 8px;
            }

            .subscribeBtn2 {
                font-size: 15px;
                width: 100%;
                color: snow;
                background-color: #f44336;
                cursor: pointer;
                padding: 12px 24px;
                border: none;
            }

            .subscribeBtn2:hover {
                color: black;
                background-color: rgba(128, 128, 128, 0.63);
            }
        }
    }

    .bigDiv {
        width: 70%;
        background-color: blue;
        margin: 16px;
        padding: 12px 24px;

        .aboutDiv {
            width: 100%;

            .aboutPeopleBox {
                display: flex;
                width: 100%;

                flex-direction: column;
                align-items: center;

                .peopleName {
                    font-size: 20px;
                    margin: 10px 0;
                }

                .smallDesription1 {
                    font-size: 15px;
                    margin: 10px 0;

                    .smallDesription2 {
                        color: rgb(173, 173, 173);
                    }
                }

                .peopleImg {
                    width: 100%;
                    height: 600px;
                    padding: 16px 0;
                }

                .peopleText1 {
                    font-size: 17px;
                    margin: 15px 0;

                    .peopleText2 {
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }
}