* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.iconSearcDiv {
  display: flex;
  width: 100%;
  background-color: black;
}
.iconSearcDiv .templatesIcon {
  color: snow;
  font-size: 15px;
  padding: 8px 16px;
}
.iconSearcDiv .templatesIcon:hover {
  color: black;
  background-color: rgb(173, 173, 173);
}
.iconSearcDiv .iconSearch {
  margin-left: auto;
}

.container {
  max-width: 1540px;
  width: 100%;
  background-color: rgb(180, 180, 180);
  margin: 0 auto;
}
.container .top {
  background-color: snow;
  width: 100%;
  padding: 48px 16px;
}
.container .top .desqription {
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: 900;
}
.container .top .DesqriptionInCompani {
  text-align: center;
  width: 100%;
  font-size: 16px;
  margin: 10px 0 0 0;
}
.container .top .DesqriptionInCompani .smallText {
  font-size: 16px;
  background-color: black;
  color: snow;
  padding: 0 8px;
}
.container .topFon {
  display: flex;
  width: 100%;
  height: 1000px;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://www.w3schools.com/w3images/jane.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container .topFon .companiName {
  font-size: 36px;
  color: snow;
  margin: 10px 0;
}
.container .topFon .fashionBlog {
  font-size: 64px;
  color: snow;
}
.container .topFon .subscribeBtn {
  font-size: 15px;
  width: max-content;
  color: black;
  background-color: rgba(255, 250, 250, 0.403);
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
}
.container .topFon .subscribeBtn:hover {
  background-color: rgba(255, 250, 250, 0.589);
}
.container .topFon .subscribeDivClose {
  display: none;
}
.container .topFon .subscribeDivOpen {
  width: 900px;
  background-color: #FFFFFF;
  padding: 32px;
  position: fixed;
  left: calc(50% - 450px);
  top: 100px;
}
.container .topFon .subscribeDivOpen .subscribeTitle {
  font-size: 30px;
  margin: 10px 0;
}
.container .topFon .subscribeDivOpen .subscribeText {
  font-size: 19px;
  margin: 15px 0;
}
.container .topFon .subscribeDivOpen .subscribeEmail {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
}
.container .topFon .subscribeDivOpen .subscribeBtn2 {
  font-size: 15px;
  width: 100%;
  color: snow;
  background-color: #f44336;
  cursor: pointer;
  padding: 12px 24px;
  border: none;
}
.container .topFon .subscribeDivOpen .subscribeBtn2:hover {
  color: black;
  background-color: rgba(128, 128, 128, 0.63);
}
.container .menuContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.container .menuContainer .bigDiv {
  width: 70%;
  margin: 16px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .menuContainer .bigDiv .aboutDiv {
  width: 100%;
  background-color: snow;
}
.container .menuContainer .bigDiv .aboutDiv .aboutPeopleBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.container .menuContainer .bigDiv .aboutDiv .aboutPeopleBox .peopleName {
  font-size: 20px;
  margin: 10px 0;
}
.container .menuContainer .bigDiv .aboutDiv .aboutPeopleBox .smallDesription1 {
  font-size: 15px;
  margin: 10px 0;
}
.container .menuContainer .bigDiv .aboutDiv .aboutPeopleBox .smallDesription1 .smallDesription2 {
  color: rgb(173, 173, 173);
}
.container .menuContainer .bigDiv .aboutDiv .aboutPeopleBox .peopleImg {
  width: 100%;
  height: 600px;
  padding: 16px 0;
}
.container .menuContainer .bigDiv .aboutDiv .aboutPeopleBox .peopleText1 {
  font-size: 17px;
  margin: 15px 0;
}
.container .menuContainer .bigDiv .aboutDiv .aboutPeopleBox .peopleText1 .peopleText2 {
  margin: 10px 0 0 0;
}
.container .menuContainer .bigDiv .aboutDiv .replaice {
  width: 100%;
  background-color: rgba(0, 0, 255, 0);
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 10px 0;
}
.container .menuContainer .bigDiv .aboutDiv .replaice .likeBtn {
  font-size: 15px;
  padding: 8px 16px;
  border: none;
}
.container .menuContainer .bigDiv .aboutDiv .replaice .likeBtn .linkeIcon {
  display: flex;
  gap: 5px;
}
.container .menuContainer .bigDiv .aboutDiv .replaice .likeBtn:hover {
  background-color: rgba(128, 128, 128, 0.626);
}
.container .menuContainer .bigDiv .aboutDiv .replaice .replaiesBtn {
  font-size: 15px;
  color: #FFFFFF;
  background-color: black;
  padding: 8px 16px;
  border: none;
}
.container .menuContainer .bigDiv .aboutDiv .replaice .replaiesBtn .repliesText {
  color: black;
  background-color: #FFFFFF;
  margin-left: 5px;
  padding: 1px 8px;
}
.container .menuContainer .bigDiv .aboutDiv .replaice .replaiesBtn:hover {
  background-color: rgba(128, 128, 128, 0.626);
}
.container .menuContainer .bigDiv .aboutDiv .replicePeopleClose {
  display: none;
}
.container .menuContainer .bigDiv .aboutDiv .replicePeople {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 16px;
  gap: 20px;
}
.container .menuContainer .bigDiv .aboutDiv .replicePeople .replaiesLine {
  width: 100%;
  background-color: rgb(195, 195, 195);
  height: 1px;
  border: none;
  margin-top: 20px;
}
.container .menuContainer .bigDiv .aboutDiv .replicePeople .replaiesPeoplePicture {
  width: 90px;
  height: 100px;
  margin-right: 30px;
}
.container .menuContainer .bigDiv .aboutDiv .replicePeople .ripliesDiv .peopleName3 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 900;
}
.container .menuContainer .bigDiv .aboutDiv .replicePeople .ripliesDiv .peopleName3 .smallText3 {
  font-size: 15px;
  color: gray;
  font-weight: 300;
  margin-left: 5px;
}
.container .menuContainer .bigDiv .aboutDiv .replicePeople .ripliesDiv .peopleText3 {
  font-size: 15px;
  margin: 15px 0;
  flex-wrap: wrap;
}
.container .menuContainer .bigDiv2 {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 16px 0;
  gap: 20px;
}
.container .menuContainer .bigDiv2 .nameDiv {
  width: 100%;
  background-color: black;
  margin-bottom: 30px;
}
.container .menuContainer .bigDiv2 .nameDiv .name {
  font-size: 20px;
  color: #FFFFFF;
  width: 100%;
  margin: 10px 0;
  padding: 0 16px;
}
.container .menuContainer .bigDiv2 .nameDiv .nameText {
  font-size: 17px;
  color: #FFFFFF;
  width: 100%;
  margin: 15px 0;
  padding: 0 16px;
}
.container .menuContainer .bigDiv2 .popularPosts {
  background-color: black;
  width: 100%;
}
.container .menuContainer .bigDiv2 .popularPosts .postTitle {
  font-size: 20px;
  color: #FFFFFF;
  margin: 18px 16px;
}
.container .menuContainer .bigDiv2 .popularPosts .post1 {
  display: flex;
  background-color: #FFFFFF;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid gray;
}
.container .menuContainer .bigDiv2 .popularPosts .post1 .postPicture1 {
  background-image: url(https://www.w3schools.com/w3images/avatar_smoke.jpg);
}
.container .menuContainer .bigDiv2 .popularPosts .post1 .postPicture2 {
  background-image: url(https://www.w3schools.com/w3images/bandmember.jpg);
}
.container .menuContainer .bigDiv2 .popularPosts .post1 .postPicture3 {
  background-image: url(https://www.w3schools.com/w3images/workshop.jpg);
}
.container .menuContainer .bigDiv2 .popularPosts .post1 .postPicture4 {
  background-image: url(https://www.w3schools.com/w3images/avatar_smoke.jpg);
  opacity: 0.7;
}
.container .menuContainer .bigDiv2 .popularPosts .post1 .post1Picture {
  width: 50px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 16px;
}
.container .menuContainer .bigDiv2 .popularPosts .post1 .post1SubDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .menuContainer .bigDiv2 .popularPosts .post1 .post1SubDiv .postText {
  font-size: 18px;
  height: max-content;
}
.container .menuContainer .bigDiv2 .popularPosts .post1 .post1SubDiv .postText2 {
  font-size: 15px;
  margin-top: 5px;
}
.container .menuContainer .bigDiv2 .popularPosts .post1:hover {
  background-color: rgb(198, 198, 198);
}
.container .menuContainer .bigDiv2 .adversiteDiv {
  background-color: black;
  width: 100%;
}
.container .menuContainer .bigDiv2 .adversiteDiv .adversiteTitle {
  font-size: 20px;
  color: #FFFFFF;
  margin: 18px 16px;
}
.container .menuContainer .bigDiv2 .adversiteDiv .adversiteSubDiv {
  width: 100%;
  background-color: #FFFFFF;
  padding: 0.15px 16px;
}
.container .menuContainer .bigDiv2 .adversiteDiv .adversiteSubDiv .adversiteSubDiv2 {
  display: flex;
  width: 100%;
  background-color: #f1f1f1;
  height: 200px;
  align-items: center;
  margin: 16px 0;
}
.container .menuContainer .bigDiv2 .adversiteDiv .adversiteSubDiv .adversiteSubDiv2 .advertiseText {
  font-size: 15px;
  width: 100%;
  text-align: center;
}
.container .menuContainer .bigDiv2 .tagsDiv {
  width: 100%;
  background-color: black;
}
.container .menuContainer .bigDiv2 .tagsDiv .tagsTitle {
  font-size: 20px;
  color: #FFFFFF;
  margin: 18px 16px;
}
.container .menuContainer .bigDiv2 .tagsDiv .tagsSubDiv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  justify-content: space-between;
  padding: 16px;
}
.container .menuContainer .bigDiv2 .tagsDiv .tagsSubDiv .smallText3 {
  font-size: 17px;
  color: #FFFFFF;
  background-color: black;
  padding: 3px 7px;
}
.container .menuContainer .bigDiv2 .tagsDiv .tagsSubDiv .smallText4 {
  color: black;
  background-color: rgb(188, 188, 188);
  margin-top: 10px;
  padding: 1px 5px;
}
.container .menuContainer .bigDiv2 .inspiration {
  width: 100%;
  background-color: black;
}
.container .menuContainer .bigDiv2 .inspiration .inspirationTitle {
  font-size: 20px;
  color: #FFFFFF;
  margin: 18px 16px;
}
.container .menuContainer .bigDiv2 .inspiration .inspirationSubDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  flex-wrap: wrap;
  gap: 20px;
}
.container .menuContainer .bigDiv2 .foloweDiv {
  width: 100%;
  background-color: black;
}
.container .menuContainer .bigDiv2 .foloweDiv .foloweTitle {
  font-size: 20px;
  color: #FFFFFF;
  margin: 18px 16px;
}
.container .menuContainer .bigDiv2 .foloweDiv .foloweSubDiv {
  width: 100%;
  background-color: #FFFFFF;
  padding: 10px;
}
.container .menuContainer .bigDiv2 .foloweDiv .foloweSubDiv .foloweMeIcon {
  font-size: 19px;
}

/*# sourceMappingURL=style.css.map */
